{% extends "client/base.html" %}
    {% block content %}
    <!-- ***** Main Banner Area Start ***** -->
    <div id="top">
        <div class="container">
            <h1 style="text-align: center; font-family: 'Dancing Script', cursive;">Preview</h1>
            <br>
            <br>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <img src="{{ form.id_card.url }}" class="img-responsive" 
                    style="width: 100%; height: auto; margin: 0 auto; margin-bottom: 2em;" />
                </div>
                <div class="col-xs-12 col-sm-6">
                  <p style="font-size:large;">
                    <strong>Name: </strong>{{ form.name }}
                    <br>
                    <strong>Email: </strong>{{ form.email }}
                    <br>
                    <strong>Username: </strong>{{ user }}
                    <br>
                    <strong>Mobile: </strong>{{ form.mobile }}
                    <br>
                    <strong>Organization: </strong>{{form.organization}}
                    <br>
                    <strong>Employee Id: </strong>{{ form.employee_id }}
                    <br><br>
                    <form method="get" action="{% url 'client:update' %}" enctype="multipart/form-data">
                        <input type="submit" class="btn btn-warning" name="Update" value="Update" />
                    </form>
                    <form method="post" action="{% url 'client:submit' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-success" name="Submit" value="Submit" />
                    </form>
                    </p>
                </div>
              </div>
        </div>
        <br>
    </div>
          
    <!-- ***** Main Banner Area End ***** -->
    {% endblock %}